project:
  type: website
  output-dir: docs 

website:
  title: "Mackenzie Eckles ePortfolio"
  navbar:
    left:
      - href: index.qmd
        text: "Home"
      - href: about.qmd
        text: "About Me"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: source